
/* .layout.justify-center.grid_View {
  background-color: yellow !important;
} */

.QustionAndAnswer {
  display: flex;
  flex-direction: column;
  /* float: left; */
  justify-content: flex-start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
} 

.v-dialog {
  margin: 0px !important;
}

.v-dialog.v-dialog--active {
  max-width: 555px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto !important;
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 200% !important;
}
/* .v-card.v-sheet.theme--light {
  max-height: 402px !important;
  overflow: auto;
} */

.display_checkList{
  cursor: pointer;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  word-break: break-all;
}
.close_CheckBox{
  text-decoration: line-through;
}
.add_icon {
  background-size: 18px 18px;
  height: 18px;
  opacity: .54;
  outline: none;
  position: absolute;
  top: 5px;
  width: 18px;
  cursor: pointer;
  pointer-events: auto;
}
.container{
  width: 100% !important;
}
.notescontent.container{
margin: none!important;
/* margin-right: none!important; */
}
.v-layout{
  margin: none!important;
  margin-right: none!important;
}

.displayColl{
display: flex;
flex-direction: row;
padding-left: 10px;
padding-top: 10px;
width: 530px;
 
}
.notescontent{
  padding: none;
}
.v-chip .v-icon {
  color: inherit;
  font-size: medium;
}
.card{
  display: flex;
  width: 650px !important;
  height: fit-content;
  max-height: fit-content;
  /* max-width: 100% !important; */
}

/* @media (min-width: 600px){
.flex.sm5 {
    -ms-flex-preferred-size: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 80.666667%!important;
}
} */

/* @media (min-width: 400){
  .flex.xs12 {
    margin-left: 10%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    
    max-width: 50% !important;
}
} */
 
.list_View1 {
  display: flex;
  flex-direction: column ;
  justify-content: center;
align-items: center;
margin: 0px;
width: 100%;
}
.display_normal {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}


.grid_View{
display: flex!important;
flex-direction: column!important;
flex-flow:  wrap !important;
justify-content: center!important;
min-height: 28px !important;
/* width: 1000px !important; */
min-width:90% !important;

}
.container.grid-list-lg .layout:only-child {
  margin: 1% !important;
}

@media (min-width: 400){
/* form.v-form {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    flex-flow: row-reverse !important;
    justify-content: center!important;
    min-height: 28px !important;
}
.theme--light.v-sheet[data-v-418b66c5] {

  width: 296px !important;

} */
}


.notePin{
  width: 60.563px;
  height: 24px;
}
.notePin{
  display: none;
}
.card_hover:hover .notePin{
  display: flex;

}
.v-card__title.v-card__title--primary {
  padding-top: 10px;
  padding-bottom: 2px;
}
.v-icon.v-icon.v-icon--link {
  cursor: pointer;
  font-size: 14px;
}

.v-icon.v-icon.v-icon--link {
  display: none;
}
.text-xs-left:hover .v-icon.v-icon.v-icon--link {
  display: flex;
}
.v-chip.theme--light:hover .v-icon.v-icon.v-icon--link{
display: flex

}
img:not(.md-image), object:not(.md-image), video:not(.md-image) {
    height: initial;
}
 
.theme--light.v-sheet {
    background-color: #fff;
    border-color: 0 !important;
    border: 1px solid #ccc !important;
    /* color: rgba(0,0,0,.87); */
}

.container {
    padding: 0px !important;
}
.noteIcon {
  height: 40px;
  width: 31px;
  display: flex;
  align-content: flex-end;
}
.v-card__text {
  padding: 16px;
  width: 42% !important;
}
.v-chip--removable .v-chip__content {
  padding: 0 4px 0 9px !important;
}

.v-chip .v-chip__content {
  cursor: default;
  height: 22px !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 12px;
  white-space: nowrap;
  z-index: 1;
}
.v-chip {
  font-size: 13px;
  margin: 4px;
  min-width: 85px;
  width: auto;
  outline: none;
  position: relative;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
}
.theme--light.v-sheet[data-v-418b66c5] {
  width: 100% !important;
}

.theme--light.v-sheet {
  background-color: #fff;
  border-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  /* width: 275px; */
  min-height: 50px !important;
  border-radius: 7px !important;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}




.v-card__text {
  padding: 0px !important;
}
.application--wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0vh !important;
}
#app {
  padding-top: 0px;
}
.v-card__title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 9px !important;
}


.icon_note {
  display: none;
}
.noteIcon:hover .icon_note {
  display: flex;
  
}
.v-card__actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    /* padding: 0px; */
}


.grid_View .card_hover {
  display: flex;
  flex-direction: column;
  width: 238px!important;
  /* max-width: 300px !important; */
  order: 3 ;
  /* max-height: 300px; */
  /* min-height: 28px; */
  height: auto;
}
.list_View1 .card_hover {
  display: flex;
  width: 600px!important;
  max-width: 700px !important;
  flex-direction: column;
  /* max-height: 200px; */
/* min-height: 28px */
  height: auto;
}

.card_hover{
  display: flex;
  justify-content: space-between;
  min-height: 28px !important;
  
}

.v-navigation-drawer__border {
  display: none;
}

.btn_note_bar:hover {
  color: #000;
}
/* @media (min-width: 0){
.flex.xs12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 85% !important;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}
} */
.theme--light.v-text-field--solo-inverted.v-text-field--solo>.v-input__control>.v-input__slot {
  background-color: #f1f3f4 !important;
  color: #000 !important;
  /* background: rgba(0,0,0,.16); */
}
input#searchbar {
  color: #000;
}

/* @media (min-width: 600px) {
  .flex.sm5 {
    -ms-flex-preferred-size: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
   
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    min-width: auto !important;
  }
} */

@media screen and (min-width: 769px) {
  .notescontent {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
.notescontent {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0%!important; 
     padding-right: 0%!important;
}
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {

  /* STYLES HERE */
}
@media only screen and (max-device-width: 480px) {
  .notescontent {
    text-align: center;
    justify-content: center;
  }
}


@media only screen and (min-width: 1264px){
.container {
    max-width: 1035px !important;
}
}


@media only screen and (max-width: 600px) {
  .card_hover.v-card.v-sheet.theme--light {
  display: flex !important;
  width: 100% !important;
}
}




























