.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    
  background-color: #1a73e8 !important;
  color: white!important;
}
.flex.sm4 {
  -ms-flex-preferred-size: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 33.33333333333333%;
  padding-left: 177px !important;
}
.centered-container {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
position: relative;
height: 30vh;
.title {
  text-align: center;
  margin-bottom: 30px;
  img {
    margin-bottom: 16px;
    max-width: 80px;
  }
}
.error {
  color: red;
}
.md-button {
  margin: 0;
  align-items: right;
}

.form {
  margin-bottom: 60px;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.md-content {
  z-index: 1;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  position: relative;

  .md-button {
    
    background-color: #0080fe;
    align-items: right;
  }
}
.loading-overlay {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
}