
.v-content__wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
    padding-top: 16px;
  }
  .v-menu__content {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    max-width: 100%;
    overflow-y: auleto;
    overflow-x: hidden;
    contain: content;
    width: fit-content !important;
    height: fit-content !important;
  
    border-radius: 6px !important;
  }
  .v-list__tile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px !important;
  }
  .v-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    vertical-align: text-bottom;
  }
  #app {
    padding-top: 0px;
  }
  .icon_note {
    display: none;
  }
  .card_hover:hover .icon_note {
    display: flex;
  }
  
  .v-navigation-drawer__border {
    display: none;
  }
  
  .btn_note_bar:hover {
    color: #000;
  }
  @media screen and (min-width: 769px) {
    .notescontent {
      text-align: center;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* STYLES HERE */
  }
  @media only screen and (max-device-width: 480px) {
    .notescontent {
      text-align: center;
      justify-content: center;
    }
  }